DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres
SECRET_KEY=change_me_to_something_random
PORT=8000
EMAIL_URL=smtp://email:password@smtp_url:port
GLITCHTIP_DOMAIN=https://glitchtip.example.com
DEFAULT_FROM_EMAIL=email@example.com
CELERY_WORKER_AUTOSCALE="1,3"
REDIS_URL=redis://:password@host:port/database
